<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <h2>Register</h2>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input
        type="text"
        name="username"
        id="username"
        required maxlength="32"
        pattern="[a-zA-Z0-9_@$!.-]{3,32}"
        title="3-32 characters. Only letters, numbers, @ . - $ ! and _ allowed.">

        <label for="password">Password:</label>
        <input
        type="password"
        name="password"
        id="password"
        required maxlength="32"
        pattern="[a-zA-Z0-9_@$!.-]{8,32}"
        title="8-32 characters. Only letters, numbers, @ . - ! and _ allowed.">

        <button type="submit">Register</button>

        <script>
            document.querySelector('form').addEventListener('submit', function(e) {
                const username = document.querySelector('#username').value;
                const password = document.querySelector('#password').value;
        
                //Regex patterns
                const safePattern = /^[a-zA-Z0-9_!$@.-]{3,32}$/;
        
                if (!safePattern.test(username)) {
                    e.preventDefault();
                    alert("Invalid characters in username. Use only letters, numbers, @ . - ! and _ (3–32 chars).");
                    return;
                }
                if (!safePattern.test(password)) {
                    e.preventDefault();
                    alert("Invalid characters in password. Use only letters, numbers, @ . - ! and _ (8–32 chars).");
                    return;
                }
        
                //Basic XSS prevention
                if (username.includes("<") || username.includes(">") || password.includes("<") || password.includes(">")) {
                    e.preventDefault();
                    alert("Potential Cross Site Scripting detected: < or > characters are not allowed.");
                    return;
                }
            });
        </script>
    </form>
    <a href="/backbutton">Already have an account? Login</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

</body>
</html>
