<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-container">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <h1>Login Page</h1>
    <p id="msg">Please login to access the page</p>
    <form action="/login" method="POST">
        <label for="username">Username:</label>
        <input
            type="text"
            name="username"
            id="username"
            required
            maxlength="32"
            pattern="[a-zA-Z0-9_@$!.-]{3,32}"
            title="3-32 characters. Only letters, numbers, @ . - $ ! and _ allowed."
        >
    
        <label for="password">Password:</label>
        <input
            type="password"
            name="password"
            id="password"
            required maxlength="32"
            pattern="[a-zA-Z0-9_@$!.-]{8,32}"
            title="8-32 characters. Only letters, numbers, @ . - ! and _ allowed."
        >
    
        <button type="submit">Login</button>
    </form>
    
    <h2>Register</h2>
    <p id="msg">Don't have an account? Register here!</p>
    <a href="/register">Register</a>
    <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            const username = document.querySelector('#username').value;
            const password = document.querySelector('#password').value;
    
            //Regex patterns
            const safePattern = /^[a-z A-Z 0-9 _@$!.]{3,32}$/;
            
            if (!safePattern.test(username)) {
                    e.preventDefault();
                    alert("Invalid characters in username. Use only letters, numbers, @ . $ ! and _ (3–32 chars).");
                    return;
                }
            if (!safePattern.test(password)) {
                e.preventDefault();
                alert("Invalid characters in username or password. Use only letters, numbers, @ . $ ! and _ (8–32 chars).");
                return;
            }
    
            //Basic XSS prevention
            if (username.includes("<") || username.includes(">") || password.includes("<") || password.includes(">")) {
                e.preventDefault();
                alert("Potential XSS detected: < or > characters are not allowed.");
                return;
            }
        });
    </script>


</body>
</html>